<div class="plantView">
	<div class="panel-body">
		<!-- full list of log objects below-->
		<div class="row">
			<div class="panel-group" style="padding-bottom:40px">
			   	<form class="form-horizontal" name="addPlantForm">
				  	<fieldset>
				    	<div class="form-group col-sm-6 col-lg-4">
					      	<label for="select3" class="col-lg-6 control-label"></label>
					      	<div class="col-lg-6">
						        <select class="form-control" id="select3" ng-model="vm.inputData.logEffect">
						        	<option value="">{{vm.placeholders.logFxReq}}</option>
						          	<option value="Peaceful">Peaceful</option>
						          	<option value="Energetic">Energetic</option>
						          	<option value="Creative">Creative</option>
						          	<option value="Less Hungry">Less Hungry</option>
						          	<option value="Sexual">Sexual</option>
						          	<option value="less hungry">Giggly</option>
						          	<option value="Focused">Focused</option>
						          	<option value="Pain Relief">Pain Relief</option>
						          	<option value="Happy">Happy</option>
						          	<option value="Uplifted">Uplifted</option>
						          	<option value="Euphoric">Euphoric</option>
						          	<option value="Long Lasting">Long Lasting</option>
						          	<option value="Potent">Potent</option>
						          	<option value="Balanced">Balanced</option>
						          	<option value="Calmness">Calmness</option>
						          	<option value="Potent">Potent</option>
						          	<option value="Productive">Productive</option>
						          	<option value="Psychoactive">Psychoactive</option>
						          	<option value="Mellow">Mellow</option>
						          	<option value="Intense">Intense</option>
						          	<option value="Mind + Body">Mind + Body</option>
						          	<option value="Conversational">Conversational</option>
						          	<option value="Therapeutic">Therapeutic</option>
						          	<option value="Tingly">Tingly</option>
						          	<option value="Hungry">Hungry</option>
						          	<option value="Dry Mouth">Dry Mouth</option>
						          	<option value="Dry Eyes">Dry Eyes</option>
						          	<option value="Paranoid">Paranoid</option>
						          	<option value="Dizzy">Dizzy</option>
						          	<option value="Anxious">Anxious</option>
						          	<option value="Munchies">Munchies</option>
						          	<option value="Headache">Headache</option>
						          	<option value="Drowsiness">Drowsiness</option>
						          	<option value="Couch Lock">Couch Lock</option>
						          	<option value="Clear Headed">Clear Headed</option>
						          	<option value="Less Social">Less Social</option>
						        </select>
					      	</div>
					    </div>
					    
				    	<div class="col-xs-12" style="text-align:center">
							<button class="btn {{vm.addButtonStyle}}" ng-click="vm.addPlantBTN()">Add</button>
							<button class="btn btn-default" ng-click="vm.clearFieldsBTN()">Clear</button>
							<br/><span>{{vm.errorMessage}}<span>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<!-- end effect form-->
		<!-- begin all logs display-->
		<div class="row">
			<div class="col-lg-4" ng-repeat="plant in vm.currentLogList | orderBy : '-time'">
				<div class="panel panel-info">
				  	<div class="panel-heading">
					    <div class="row panel-title">
					    	<div class="col-xs-6" ui-sref="plantDet({plantName:'{{plant.name}}'})">
					    		{{plant.name}}
					    		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					    	</div>
					    	<div class="col-xs-6" ng-click="vm.deletePlantBTN(plant.plant)"><span class="glyphicon glyphicon-minus" style="float:right" aria-hidden="true"></span></div>
					    </div>
				  	</div>
				 	<div class="panel-body">
					  	<div class="row">
					  		<div class="col-xs-4">
					  			<div class = "col-xs-12">
						  			{{plant.start.month}}/{{plant.start.day}}/{{plant.start.year}}
						  		</div> 
						  		<div class="col-xs-12">
						  			{{plant.time.hr}}:{{plant.time.min}}:{{plant.time.sec}}:{{plant.time.mSec}}
						  		</div>
						  	</div> 
						  	<div class="col-xs-4">
						  		{{plant.desc}}
						  	</div>
						  	<div class="col-xs-4">
						  		I felt: {{plant.stage}}
						  	</div>
					  	</div>
				  	</div>
				</div>
			</div>
		</div>
	</div>
</div>