<div class="plantView">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-4">
					<div class="panel panel-info">
					  <div class="panel-heading">
					    <h3 class="panel-title">{{vm.PlantNameTest}}<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></h3>
					  </div>
					  <div class="panel-body">
					   This is only a test...
					  </div>
					</div>
				</div>
				<div class="col-xs-12" style="text-align:center">
					<button class="btn btn-default" ng-click="" ui-sref="plant">Back</button>
					<button class="btn btn-default" ng-click="">Edit</button>
					<br/><span>{{vm.errorMessage}}<span>
				</div>
			</div>
		</div>
	</div>
</div>